.containerMain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .main {
    width: 1400px;
    max-width: 100%;
  }
}

.ul {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

 